@import '../../common/variables.scss';
@import '../../common/mixins.scss';

@import '../../common/common.scss';

.ms-settings {
    @include flex();
    height: 100%;

    &__main {
        margin-bottom: 90px;
    }

    &__header {
        overflow: hidden;
        padding-left: 0px;
        padding-right: 0px;
        background-color: #EAEAEA;
        height: 40px;
    }

    &__content {
        flex: 1 0 0px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 0px;

        &__title {
            padding-top: 15px;
            padding-bottom: 10px;
        }

        &__subtitle {
            padding-top: 25px;
            padding-bottom: 15px;
            border-bottom: 1px solid #EAEAEA;
        }

        &__text {
            padding-top: 10px;
        }

        &--link {
            padding-bottom: 10px;
            padding-top: 10px;
            color: $ms-fontColor-themePrimary;
        }

        a {
            color: #0078d7;
            text-decoration: none;
        }
    }

    &__footer {
        @include inline-flex(center, center);
        position: absolute;
        bottom: 0;

        &--left {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            @include inline-flex(flex-start, center);
            flex: 1 0 0px;
            padding: $global-spacing;

            img {
                width: 40px;
                height: 40px;
            }

            h1 {
                flex: 1 0 0px;
                margin-left: 15px;
                text-align: left;
                @include ellipsis();
            }
        }

        &--right {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            padding: 29px $global-spacing;
        }
    }
}

.ms-Button.ms-Button--command {
    @include focus-states(#C8C8C8, null, true);
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
}

.ms-ContextualMenu-link.ms-ContextualMenu-link--hasMenu ~ .ms-ContextualMenu {
    left: 20px;
    top: 40px;
}

.ms-Toggle {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.ms-Toggle-description {
    font-size: 14px;
    margin-bottom: 10px;
}

.ms-Toggle .ms-Label {
    font-size: 14px;
}

.ms-ChoiceField-field {
    margin-top: 10px;
}
