@import '../../../common/common.scss';

body.dp-dialog {
    min-height: auto;
    min-width: auto;
}

.dp-navigation {
    &__message {
        text-align: center;
        margin: $global-spacing*2 0 $global-spacing;
        white-space: pre-line;
        padding: 0 $global-spacing;
        @include inline-flex(center, center);
    }

    .ms-Icon--IncidentTriangle {
        color: #ffb900;
        font-size: 33px;
        margin-right: $global-spacing;
    }

    .ms-Button {
        margin: auto;
        display: block;
    }

    &-dialog {
        @include flex();
        height: 100%;

        .ms-Pivot {
            flex: 1 0 auto;

            &-links {
                padding: $global-spacing - 8;
                font-weight: 200;
            }

            &-content {
                padding: 0 $global-spacing;
            }
        }

        .ms-Dialog-actions {
            flex: 0 0 auto;
            margin: $global-spacing;
        }
    }
}
