<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Application Name</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Optionally include jQuery to use Fabric's Component jQuery plugins -->
    <script type="text/javascript" src="js/jquery.js"></script>

    <!-- Fabric core -->
    <link rel="stylesheet" href="http://appsforoffice.microsoft.com/fabric/2.2.0/fabric.min.css">
    <link rel="stylesheet" href="http://appsforoffice.microsoft.com/fabric/2.2.0/fabric.components.min.css">

    <!-- Application-specific CSS -->
    <link rel="stylesheet" href="/css/app.css">

    <style>

    h1 {
        padding-left: 100px;
        padding-top: 20px;
    }
    th, td {
        padding: 20px 100px 0px 0px;
    }
    table {
        padding-top: 0px;
        padding-left: 100px;
        border-spacing: 0px;
    }
    .top {
        padding-top: 60px;
    }
    .underheader
        {
            padding-top: 20px;
        }
    .more
        {
            padding-left: 100px;
        }
    .title
        {
            padding-top: 10px;
        }
    .subtitle
        {
            padding-top: 17px;
        }

    </style>
  </head>


  <body>
    <!-- Application content goes here -->
    <h1 class="ms-font-su">Office Add-in Typeramp</h1>

    <!-- Optionally include Fabric's Component jQuery plugins -->
    <script type="text/javascript" src="js/jquery.fabric.min.js"></script>

<table>
    <tr>
            <td><span class="ms-font-xxl ms-fontWeight-semibold">Add-in Usage</span></td>
            <td><span class="ms-font-xxl ms-fontWeight-semibold">Class</span></td>
            <td><span class="ms-font-xxl ms-fontWeight-semibold">Size</span></td>
            <td><span class="ms-font-xxl ms-fontWeight-semibold">Weight</span></td>
            <td><span class="ms-font-xxl ms-fontWeight-semibold">Color</span></td>
        </span>
    </tr>
    <tr>
        <td class="underheader"><span class="ms-font-xxl">Hero</span></td>
        <td class="underheader"><span class="ms-font-l ms-fontWeight-regular">.ms-font-xxl</span></td>
        <td class="underheader"><span class="ms-font-l ms-fontWeight-regular"> Segoe UI 28 pt </span></td>
        <td class="underheader"><span class="ms-font-l ms-fontWeight-regular"> Light </span></td>
        <td class="underheader"><span class="ms-font-l ms-fontWeight-regular"> Neutral Primary </span></td>
    </tr>
    <tr>
        <td class="title"><span class="ms-font-xl">Title</span></td>
        <td class="title"><span class="ms-font-l ms-fontWeight-regular">.ms-font-xl</span></td>
        <td class="title"><span class="ms-font-l ms-fontWeight-regular"> Segoe UI 21 pt </span></td>
        <td class="title"><span class="ms-font-l ms-fontWeight-regular"> Light </span></td>
        <td class="title"><span class="ms-font-l ms-fontWeight-regular"> Neutral Primary </span></td>
    </tr>
        <tr>
        <td class="subtitle"><span class="ms-font-l">Subtitle</span></td>
        <td class="subtitle"><span class="ms-font-l ms-fontWeight-regular">.ms-font-l</span></td>
        <td class="subtitle"><span class="ms-font-l ms-fontWeight-regular"> Segoe UI 17 pt </span></td>
        <td class="subtitle"><span class="ms-font-l ms-fontWeight-regular"> Semilight </span></td>
        <td class="subtitle"><span class="ms-font-l ms-fontWeight-regular"> Neutral Primary </span></td>
    </tr>
    <tr>
        <td><span class="ms-font-m">Body Text</span></td>
        <td><span class="ms-font-l ms-fontWeight-regular">.ms-font-m</span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Segoe UI 14 pt </span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Regular </span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Neutral Primary </span></td>
    </tr>
    <tr>
        <td><span class="ms-font-xs">Caption</span></td>
        <td><span class="ms-font-l ms-fontWeight-regular">.ms-font-xs</span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Segoe UI 11 pt </span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Regular </span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Neutral Primary </span></td>
    </tr>
    <tr>
        <td><span class="ms-font-mi">Annotation</span></td>
        <td><span class="ms-font-l ms-fontWeight-regular">.ms-font-mi</span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Segoe UI 10 pt </span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Semibold </span></td>
        <td><span class="ms-font-l ms-fontWeight-regular"> Neutral Primary </span></td>
    </tr>
   

    <!-- Theme Primary  type -->
    

    

    <!-- Neutral Secondary type -->
    
    
</table>
<br><br><br>

<p class="more"><span class="ms-font-l ms-fontWeight-regular"> To view examples of font colors and pairing, refer to the <a href="https://github.com/OfficeDev/Office-Add-in-Design-Patterns/blob/master/Patterns/Base_styles_typeramp.pdf">Typeramp Base Styles guide.</a></span></p>







  </body>



</html>
   
