@import '../../../common/common.scss';

.dp-spinner {
    @include flex();

    &__circle {
        border: 3px solid #c7e0f4; /* Light grey */
        border-top: 3px solid #0078d7; /* Blue */
        width: 28px;
        height: 28px;
        border-radius: 50%;
        animation: spin 2s linear infinite;
        margin: 0 auto;
    }

    &__label {
        padding-top: 5px;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

