@import '../../../common/common.scss';

.ms-firstrun-trial {
    @include flex();
    height: 100%;

    &__header {
        min-height: 220px;
        max-height: 300px;
        @include flex();
        padding: $global-spacing 0;

        h2 {
            letter-spacing: 5px;
            margin-bottom: 20px;
        }
    }

    &__title,
    &__subtitle {
        padding: 0 $global-spacing;
    }

    &__logo {
        height: 100%;
        flex: 1 1 auto;                

        @include background-fill();
        background-image: url('../../../../../../../../../assets/logo-background-geometric.png');

        @include inline-flex(center, center);

        img {
            width: 40px;
            margin-right: $global-spacing;
        }

        h1 {
            display: block;
        }
    }

    &__content {
        @include center-flex();
        height: 100%;
        flex: 1 1 0;
        min-height: 250px;
        padding: $global-spacing;

        &--centered {
            @include flex();
        }
    }

    &__list {
        list-style-type: none;

        li {
            margin-bottom: $global-spacing;

            i {
                position: relative;
                top: 2px;
                margin-right: 10px;
            }
        }
    }

    &__action {
        &--primary {
            &.ms-Button {
                align-self: center;
                margin-top: 65px;
                border: solid 2px $ms-fontColor-white;
                width: calc(100vw - 40px);
                @include center-flex();

                span.ms-Button-label {
                    color: $ms-fontColor-white;
                }

                @include focus-states(#FFFFFF, $ms-fontColor-themePrimary, false);
            }
        }
    }
}
