.ms-landing-page {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: nowrap;
  height: 100%; }
  .ms-landing-page__main {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
    -webkit-box-flex: 1;
            flex: 1 1 0;
    height: 100%; }
  .ms-landing-page__header {
    /*border-bottom: solid 2px $ms-fontColor-themePrimary;*/
    display: -webkit-inline-box;
    display: inline-flex; }
    .ms-landing-page__header--left {
      margin-right: 20px;
      cursor: pointer; }
    .ms-landing-page__header--right {
      padding: 10px 20px;
      -webkit-transition: background ease 0.1s, color ease 0.1s;
      transition: background ease 0.1s, color ease 0.1s;
      cursor: pointer; }
      .ms-landing-page__header--right:active, .ms-landing-page__header--right:hover {
        background: #c7e0f4;
        color: #000;
        cursor: pointer; }
      .ms-landing-page__header--right:active {
        background: #c7e0f4;
        -webkit-transform: scale3d(0.98, 0.98, 1);
                transform: scale3d(0.98, 0.98, 1); }
      .ms-landing-page__header--right.disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: not-allowed; }
        .ms-landing-page__header--right.disabled:active, .ms-landing-page__header--right.disabled:hover {
          background: transparent; }
        .ms-landing-page__header--right.disabled:active {
          -webkit-transform: none;
                  transform: none; }
    .ms-landing-page__header--center {
      -webkit-box-flex: 1;
              flex: 1 1 auto;
      display: -webkit-inline-box;
      display: inline-flex;
      -webkit-box-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
              align-items: center; }
      .ms-landing-page__header--center p {
        padding: 0 10px;
        -webkit-box-flex: 1;
                flex: 1 0 0px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: left;
        cursor: pointer;
        -webkit-transition: background ease 0.1s, color ease 0.1s;
        transition: background ease 0.1s, color ease 0.1s;
        padding: 10px; }
        .ms-landing-page__header--center p:active, .ms-landing-page__header--center p:hover {
          background: #c7e0f4;
          color: #000;
          cursor: pointer; }
        .ms-landing-page__header--center p:active {
          background: #c7e0f4;
          -webkit-transform: scale3d(0.98, 0.98, 1);
                  transform: scale3d(0.98, 0.98, 1); }
        .ms-landing-page__header--center p.disabled {
          opacity: 0.6;
          pointer-events: none;
          cursor: not-allowed; }
          .ms-landing-page__header--center p.disabled:active, .ms-landing-page__header--center p.disabled:hover {
            background: transparent; }
          .ms-landing-page__header--center p.disabled:active {
            -webkit-transform: none;
                    transform: none; }
  .ms-landing-page__content {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    flex-wrap: nowrap;
    height: 100%;
    -webkit-box-flex: 1;
            flex: 1 1 0;
    padding: 20px; }
    .ms-landing-page__content h2, .ms-landing-page__content .ms-landing-page__content__title, .ms-landing-page__content .ms-landing-page__content__subtitle, .ms-landing-page__content .ms-landing-page__content__text {
      margin-bottom: 20px;
      margin-top: -5px; }
  .ms-landing-page__footer {
    display: -webkit-inline-box;
    display: inline-flex;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center; }
    .ms-landing-page__footer--left {
      -webkit-transition: background ease 0.1s, color ease 0.1s;
      transition: background ease 0.1s, color ease 0.1s;
      display: -webkit-inline-box;
      display: inline-flex;
      -webkit-box-pack: start;
              justify-content: flex-start;
      -webkit-box-align: center;
              align-items: center;
      -webkit-box-flex: 1;
              flex: 1 0 0px;
      padding: 20px; }
      .ms-landing-page__footer--left:active, .ms-landing-page__footer--left:hover {
        background: #005ca4;
        cursor: pointer; }
      .ms-landing-page__footer--left:active {
        background: #005ca4; }
      .ms-landing-page__footer--left.disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: not-allowed; }
        .ms-landing-page__footer--left.disabled:active, .ms-landing-page__footer--left.disabled:hover {
          background: transparent; }
      .ms-landing-page__footer--left img {
        width: 40px;
        height: 40px; }
      .ms-landing-page__footer--left h1 {
        -webkit-box-flex: 1;
                flex: 1 0 0px;
        margin-left: 15px;
        text-align: left;
        width: auto;
        max-width: auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
    .ms-landing-page__footer--right {
      -webkit-transition: background ease 0.1s, color ease 0.1s;
      transition: background ease 0.1s, color ease 0.1s;
      padding: 29px 20px; }
      .ms-landing-page__footer--right:active, .ms-landing-page__footer--right:hover {
        background: #005ca4;
        cursor: pointer; }
      .ms-landing-page__footer--right:active {
        background: #005ca4; }
      .ms-landing-page__footer--right.disabled {
        opacity: 0.6;
        pointer-events: none;
        cursor: not-allowed; }
        .ms-landing-page__footer--right.disabled:active, .ms-landing-page__footer--right.disabled:hover {
          background: transparent; }

.menu-icon {
  margin-right: 10px; }

.ms-NavBar {
  color: #333333;
  font-family: 'Segoe UI Regular WestEuropean', 'Segoe UI', Tahoma, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  box-sizing: border-box;
  margin: 0;
  /*padding: 0;*/
  box-shadow: none;
  /*Override to change background color and height*/
  background-color: #EFF6FC;
  /*#f4f4f4;*/
  height: 45px;
  /*40px*/
  padding: 0 10px;
  width: 100%;
  outline: 1px solid transparent; }

.ms-NavBar-openMenu {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  /* Override Fabric default to put hamburger icon on left end of navbar */
  /*right: 27px;*/
  left: 10px;
  text-align: center;
  width: 40px;
  cursor: pointer; }

@media (max-width: 479px) {
  .ms-NavBar.is-open .ms-NavBar-items {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
    background-color: #ffffff;
    bottom: 0;
    display: block;
    /*Override to put drop down menu hard left*/
    left: 0;
    /*50px;*/
    margin: 0;
    padding: 0;
    position: absolute;
    /*Override to put drop down menu hard left*/
    right: 50px;
    /*0;*/
    top: 0;
    outline: 1px solid transparent;
    z-index: 5; }
  .ms-NavBar.is-open .ms-NavBar-item .ms-ContextualMenu {
    position: relative; } }
