@import '../../../common/common.scss';

body.dp-dialog {
    min-height: auto;
    min-width: auto;
    padding: $global-spacing;
    width: calc(100% - 40px);
    height: calc(100% - 40px);

    p {
        margin-bottom: 20px;
    }
}

.dp-typeramp {
    &__message {
        text-align: center;
        margin: $global-spacing*2 0 $global-spacing;
        white-space: pre-line;
        padding: 0 $global-spacing;
        @include inline-flex(center, center);
    }

    .ms-Button {
        margin: auto;
        display: block;
    }
}