@mixin flex($direction: column, $wrap: nowrap, $horizontal-alignment: null, $vertical-alignment: null) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;

    @if $horizontal-alignment {
        justify-content: $horizontal-alignment;
    }

    @if $vertical-alignment {
        align-items: $vertical-alignment;
    }
}

@mixin center-flex() {
    @include flex(column, nowrap, center, center);
}

@mixin stretch-flex() {
    @include flex(column, nowrap, stretch, stretch);
}

@mixin video-stretch-flex() {
    @include flex(column, nowrap, stretch, stretch);
}

@mixin pager-stretch-flex() {
    @include flex(column, nowrap, center, stretch);
}

@mixin pagercontrol-center-flex() {
    @include flex(row, nowrap, center, center);
}

@mixin inline-flex($horizontal-alignment: null, $vertical-alignment: null) {
    display: inline-flex;

    @if $horizontal-alignment {
        justify-content: $horizontal-alignment;
    }

    @if $vertical-alignment {
        align-items: $vertical-alignment;
    }
}