@import '../../../common/common.scss';

.ms-toast {
    padding: 10px;
    box-shadow: 0 0 5px 1px rgba(0,0,0,0.4);
    position: absolute;
    z-index: 999;
    bottom: 0;
    left: 0;
    width: calc(100% - 60px);
    background-color: #FFF;
    -moz-transition: transform ease-in-out 0.3s;
    -o-transition: transform ease-in-out 0.3s;
    -webkit-transition: transform ease-in-out 0.3s;
    transition: transform ease-in-out 0.3s;
    @include flex();

    &__header {
        @include inline-flex(space-between, flex-start);

        h4 {
            flex: 1 0 0px;
            margin: 0;
            padding: 0;
            @include ellipsis();
        }

        .ms-Icon {
            &.ms-Icon--Cancel {
                color: #666;
            }

            @include focus-states(transparent, $ms-fontColor-themePrimary);

            &--Info {
                margin-top: 4px;
            }
        }
    }

    &__content {
        @include inline-flex(flex-start, flex-start);
        margin-top: 7px;

        .ms-Icon {
            margin-top: 3px;
        }

        p {padding-left: 10px;}
    }
}
