@import '../../../common/common.scss';

.ms-tab-bar {
    @include flex();
    height: 100%;

    &__header {

        @include flex(row, nowrap, center, center);
        display: inline-flex;

        &--center {
            flex: 1 1 auto;
            @include flex(row, nowrap, center);
        }

        &--centeritems {
            flex: 0 1 auto;
            border: none;
            outline: none;
            background: transparent;
            @include flex(column, nowrap, center, center);
            @include focus-states(#c7e0f4, $ms-fontColor-themePrimary, true);
            height: 43pt;
            white-space: nowrap;
            cursor: pointer;
            padding-bottom: 8px;
            padding-top: 8px;
            border-bottom: solid 0px #fff;
            width: 64pt;
        }

        &--centeritemstext {
            width: 64px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }


        &--centeritems:focus {
            border-bottom: solid 2px $ms-fontColor-themePrimary;
            font-weight: bolder;
        }
    }

    &__content {
        @include flex();
        flex: 1 1 100%;
        padding: $global-spacing;

        h2 {
            margin-bottom: $global-spacing;
        }
    }

    &__footer {
        @include inline-flex(center, center);

        &--left {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            @include inline-flex(flex-start, center);
            flex: 1 0 0px;
            padding: $global-spacing;

            img {
                width: 40px;
                height: 40px;
            }

            h1 {
                flex: 1 0 0px;
                margin-left: 15px;
                text-align: left;
                @include ellipsis();
            }
        }

        &--right {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            padding: 29px $global-spacing;
        }
    }
}

.demo-placeholder {
    margin-bottom: $global-spacing;
    width: 100%;

    &__img {
        width: 60px;
        height: 60px;
        background-color: $demo-placeholder-color;
        display: block;
        margin-bottom: $global-spacing/2;
    }

    &__text {
        height: 5px;
        background-color: $demo-placeholder-color;
        display: block;
        margin-bottom: $global-spacing/2;

        &--half {
            width: 60%;
        }

        &--para {
            height: 40px;
        }
    }

    &__button {
        width: 150px;
        height: 40px;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}
