@import '../../../common/common.scss';

.dp-tab-bar {
    @include inline-flex(center, center);
    height: 44px;

    &__button {
        width: 64px;
        height: 100%;
        background: none repeat scroll 0 0 transparent;
        border: 0px none;
        line-height: 1;
        @include focus-states(#f8f8f8, null, true);

         &:focus {
             outline: 0;
         }
    }

    &--active {
        border-bottom: solid 2px #0078d7;
    }
}
