@import '../../../common/common.scss';

.ms-firstrun-pages {
    @include flex();
    height: 100%;

       &__header {
        padding: $global-spacing;
        min-height: 160px;
        max-height: 250px;
        @include flex();

        h1 {
            letter-spacing: 5px;
        }

        p {
            margin-top: 25px;
        }

        &--skip {
            text-align:right;            
        }
    }

    &__welcome {
        width: 100%;
        height: 100%;
        flex: 1 1 0;
        @include center-flex();

        img {
            height: 100px;
        }
    }

    &__pager {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: $global-spacing;

         &--pagercontrol {
        width: 100%;
        height: 100%;
        max-height: auto;
        max-width: 310px;
        @include pagercontrol-center-flex();

        img {
            width: 100%;
            height: 100%;
            max-height: auto;
            max-width: 300px;
        }
      }
    }
    
    &__content {
        @include flex();
        height: 100%;
        flex: 1 1 0;
        padding-bottom: $global-spacing;
        padding-left: $global-spacing;
        padding-right: $global-spacing;

        &--centered {
            @include center-flex();
        }
    }

    &__footer {
        @include flex();
        height: 100%;
        flex: 1 1 0;
        padding: $global-spacing;
        justify-content: flex-end;

        &--centered {
            @include center-flex();
        }

        i {
            margin-right: 3px;
        }
    }
}

.change-stage {
    cursor: pointer;
}
