@import '../../../common/common.scss';

.ms-navigation-commands {
    @include flex();
    height: 100%;

    &__main {
        @include flex();
        flex: 1 1 0;
        height: 100%;
    }

    &__header {
        @include inline-flex(left, center);
        padding-left: 0px;
        padding-right: 0px;

        &--left {
            @include focus-states(#eff6fc, null, true);
            padding: 0;
            cursor: pointer;
            width: 50px;
        }

        &--right {
            flex: 1 0 0px;
            width: 200px;

            p {
                flex: 1 0 0px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                cursor: pointer;
                @include focus-states(#eff6fc, null, true);

                &:last-child {
                    border-right: none;
                }
            }
        }
    }

    &__commandbar {
        &--mainArea {
            overflow: hidden;
            padding-left: 58px;
            padding-right: -8px;
        }

        &--sideCommands {
            padding-right: 8px;
        }

        &--item {
            margin-right: -4px;
            width: 36px;
        }

        &--link {
            padding: 0px;
        }
        
        &--linkWrapper {
            height: 40px;
        }
    }

    &__content {
        @include flex(column, nowrap, center, flex-start);
        height: 100%;
        flex: 1 1 0;
        min-height: 380px;
        padding: $global-spacing;

        h2 {
            margin-bottom: $global-spacing;
        }
    }

    &__footer {
        @include inline-flex(center, center);

        &--left {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            @include inline-flex(flex-start, center);
            flex: 1 0 0px;
            padding: $global-spacing;

            img {
                width: 40px;
                height: 40px;
            }

            h1 {
                flex: 1 0 0px;
                margin-left: 15px;
                text-align: left;
                @include ellipsis();
            }
        }

        &--right {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            padding: 29px $global-spacing;
        }
    }
}

.ms-CommandBarItem .ms-CommandBarItem-chevronDown, .ms-CommandBarItem .ms-CommandBarItem-commandText
{
    display: none;
}

.ms-Button.ms-Button--command {
    @include inline-flex(center, center);
    height: 40px;
    font-size: 18px;
    padding-top: 0px;
    padding-bottom: 6px;
    width: 50px;
    text-align: center;
    background-color: #EFF6FC;

    &:hover {
        background-color: #C7E0F4;
    }
}

.ms-CommandBarSearch-iconWrapper {
    background-color: #EFF6FC;

    &:hover {
        background-color: #C7E0F4;
    }
}

.ms-Icon--menu {
    color: #0078d7;
}

.ms-ContextualMenu {
    display: none;
}

.is-open {
    display: block !important;
}
