@import '../../../common/common.scss';

.ms-notification-message-banner {
    @include flex();
    height: 100%;

    &__main {
        @include flex();
        flex: 1 1 0;
        height: 100%;
    }

    &__ratingbanner{
        visibility:hidden;
    }

    &__header {
        border-bottom: solid 2px $ms-fontColor-themePrimary;
        @include inline-flex(center, center);

        &--left {
            @include focus-states(#eff6fc, null, true);
            padding: 8px $global-spacing;
            cursor: pointer;
        }

        &--right {
            flex: 1 0 0px;
            @include inline-flex(center, center);

            p {
                padding: 0 10px;
                flex: 1 0 0px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                text-align: center;
                cursor: pointer;
                padding: 10px $global-spacing;
                @include focus-states(#eff6fc, null, true);

                &:last-child {
                    border-right: none;
                }
            }
        }

        &--selected {
            background-color: darken(#eff6fc, 5%);
        }
    }

    &--actionbuttons {
        text-align: left;
        margin-left: 20px;
    }

    &__content {
        @include flex(column, nowrap, null, null);
        height: 100%;
        flex: 1 1 0;
        min-height: 180px;
        padding: $global-spacing;

        h2 {
            margin-bottom: $global-spacing;
        }

        &__title, &__subtitle, &__text {
            margin-bottom: $global-spacing;
        } 
    }

    &__input {
        padding-bottom: 50px;
        margin-top: 10px;
        width: 100%;

        label {
            clear: both;
            display: block;
            width: 100%;
            margin-bottom: 5px;
        }

        input {
            width: calc(100% - 24px);
            border-style: solid;
            border-width: 1px;
            padding: 10px;  
            margin-bottom: 4px;       
        }

        span {
            padding-right: 10px;
            padding-left: 10px;
        }     
    }



    &__footer {
        @include inline-flex(center, center);

        &--left {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            @include inline-flex(flex-start, center);
            flex: 1 0 0px;
            padding: $global-spacing;

            img {
                width: 40px;
                height: 40px;
            }

            h1 {
                flex: 1 0 0px;
                margin-left: 15px;
                text-align: left;
                @include ellipsis();
            }
        }

        &--right {
            @include focus-states(darken($ms-fontColor-themePrimary, 10%), null, false);
            padding: 29px $global-spacing;
        }
    }
}

@media screen  {
  .ms-MessageBanner-text {
    margin-left: -45px;
    padding: 18px 0;
    min-width: 240px;
    max-width: 300px;
  } }

.ms-MessageBanner.is-expanded {
    height: auto;
    overflow: inherit;
}

.ms-MessageBanner-button-white {
    color: white;
}
