@import 'mixins/flex.scss';

.add-in-ui {
    .placeholder {
        @include flex();
        flex: 1 1 0;
        height: 100%;

        
        &__header {
            @include inline-flex(null, center);
            border-bottom-width: 1px;
            border-bottom-style: solid;
            height: 44px;
            width: 100%;

            &--left {
                @include inline-flex(center);
                width: 44px;
                
                nav {
                    width: 14px;
                    height: 14px;
                }
            }

            &--right {
                @include inline-flex(null, center);

                &--cmd {
                    width: 14px;
                    height: 14px;
                    border-radius: 100%;
                }

                &--text {
                    width: 30px;
                    height: 10px;
                    margin: auto 10px auto 6px;
                } 
            }
        }

        &__content {
            padding: $global-spacing;

            &--textTitle {
                min-width: 280px;
                height: 32px;
                margin-bottom: $global-spacing;
            }

            &--textBody {
                min-width: 280px;
                height: 64px;
                margin-bottom: $global-spacing;
            }
        }
    }
}