@import '../../../common/common.scss';

body.dp-dialog {
    min-height: auto;
    min-width: auto;
}

.dp-alert {
    &__message {
        text-align: center;
        margin: $global-spacing*2 0 $global-spacing;
        white-space: pre-line;
        padding: 0 $global-spacing;
        @include inline-flex(center, center);
    }

    .ms-Icon--IncidentTriangle {
        color: #ffb900;
        font-size: 33px;
        margin-right: $global-spacing;
    }

    .ms-Button {
        margin: auto;
        display: block;
    }
}